@media (min-width: 481px){
    .img_full{
        text-align: center;
        img{
            width: 50%;
        }
    }
    .watermark_full::after{
        top: 8.5rem;
        right: 17rem;
        font-size: 2.5rem;
    }
    .menu_footer{
        margin-bottom: 5rem !important;
        ul{
            list-style-type: none;
        }
        li{
            float: left;
        }
        a{
            padding: 0 1rem;
        }
    }
} 